<div class="people" >
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          People
        </h1>
        <h2 class="subtitle">
          Choose a Person
        </h2>
      </div>
    </div>
  </section>

  <section class="people-list">
    <div class="container">
      <people-list people="ctrl.people" view="ctrl.setPerson(person)" />
    </div>
  </section>

  <div class="people-modal">
    <modal model="ctrl.modal" on-close="ctrl.closeModal()">
      <div class="box">

        <div class="columns">

          <!-- Avatar and scores -->
          <div class="column is-one-quarter">
            <div class="has-text-centered">
              <avatar person="ctrl.person" size="128">
            </div>

            <div class="scores">
              <div class="score" ng-repeat="(name, score) in ctrl.person.scores">
                <score name="name" score="score" />
              </div>
            </div>
          </div>

          <div class="column">
            <h1 class="title is-2">
              {{ctrl.person.personal.first_name}} {{ctrl.person.personal.last_name}}
            </h1>
            <h2 class="subtitle">
              {{ctrl.person.personal.city}}, {{ctrl.person.personal.country}}
            </h2>

            <div class="columns">
              <div class="column">
                <table class="table is-fullwidth is-narrow info-table">
                  <tbody>
                    <tr>
                      <td>Age</td>
                      <td>{{ctrl.person.personal.age}}</td>
                    </tr>
                    <tr>
                      <td>Job Title</td>
                      <td>{{ctrl.person.personal.job_title}}</td>
                    </tr>
                    <tr>
                      <td>Company</td>
                      <td>{{ctrl.person.personal.job_company}}</td>
                    </tr>
                  </tbody>
                </table>

                <heading title="Devices" icon="laptop"></heading>

                <table class="table is-fullwidth info-table">
                  <thead>
                    <tr>
                      <th>Vendor</th>
                      <th>Name</th>
                      <th>
                        <abbr title="The number of times a person has previously been seen to interact with a given type of device">
                          Count
                        </abbr>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="device in ctrl.person.devices">
                      <td>{{device.vendor | title | capitalise}}</td>
                      <td>{{device.name | title | capitalise}}</td>
                      <td>{{device.count}}</td>
                    </tr>
                  </tbody>
                </table>

                <heading title="Interests" icon="star"></heading>

                <table class="table is-fullwidth info-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>
                        <abbr title="The number of times a person has previously mentioned the given subject">
                          Count
                        </abbr>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="interest in ctrl.person.interests">
                      <td>{{interest.name | title | capitalise}}</td>
                      <td>{{interest.count}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div class="column">

                <div ng-repeat="profile in ctrl.person.social" class="social-profile">

                  <h3 class="title is-4">
                    <span class="icon">
                      <i class="fab fa-sm fa-{{ctrl.social[profile.type].icon}}"></i>
                    </span>
                    {{profile.type | title | capitalise }}
                  </h3>

                  <table class="table is-fullwidth is-narrow info-table">
                    <tbody>
                      <tr ng-repeat="field in ctrl.social[profile.type].fields">
                        <td>{{field | title | capitalise}}</td>
                        <td>{{profile[field]}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="has-text-right">
                    <a target="_blank" class="button link-to-profile is-info is-small" href="{{profile.url}}">
                      Link to Profile
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</div>
